#place-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#place-table td, #place-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#place-table tr.stripes:nth-child(even){background-color: #f2f2f2;}

#place-table tr:hover {background-color: #ddd;}

#place-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #66757F;
    color: white;   
}

.inline {
    white-space:nowrap;
}

.hidden {
    visibility: collapse;
}
